@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<p style=" font-family:'Comic Sans MS';" align="center" class="about"> <b>Persistent Systems is an Indian multinational technology services company which was incorporated on 16 May 1990. Persistent Systems is listed on the Bombay Stock Exchange and the National Stock Exchange. Shares in the company were listed on the National Stock Exchange of India in March 2010.The company organizes an annual hackathon called Semicolons for its employees. The company also organizes IBM's Call for Code hackathon at its Goa, Nagpur and Pune offices.</b></p>