@{
    ViewData["Title"] = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<p style="font-family:'Comic Sans MS';margin-left:10px;">
  <center> <h2><u>Office Locations</u></h2></center>
    <b style="font-family:'Comic Sans MS';margin-left:10px;">
        <u style="font-size:30px;">Santa Clara:</u>
        <br />

        +1-650-481-9180

        2055 Laurelwood Road, Suite 210,
        Santa Clara, CA 95054, USA
    </b>
   
    <br />
  <br />
    <b style="font-family:'Comic Sans MS';margin-left:10px;">
        <u style="font-size:30px;">New Jersey:</u>
        <br />

    100 Somerset Corporate Center Bridgewater Township 5th Floor, New Jersey
    <br />
        </b>
        <br />
    <b style="font-family:'Comic Sans MS';margin-left:10px;">
        <u style="font-size:30px;">Canada:</u>
        <br />

+1 604 687 2242

British Columbia, Pacific Centre, 400-725 Granville Street, Vancouver, BC V7Y 1G5,</b>
       
    </p>