@{
    ViewData["Title"] = "Home Page";
}

<center>
    <h1>
    <p style=" font-family:'Comic Sans MS';" id="index">
    Welcome
    <br />
    To 
    <br />
    Persistent!
    </h1>

</p>
</center>
<p style=" font-family:'Comic Sans MS';margin-left:10px;">
   <b> We are a trusted Digital Engineering and Enterprise Modernization partner, combining deep technical expertise and industry experience to help our clients anticipate what’s next and answer questions before they’re asked. Our offerings and proven solutions create unique competitive advantage for our clients by giving them the power to see beyond and rise above.</b>
  
</p>